body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 25px;
    
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: rgb(63, 74, 226);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
}

button:hover {
    background-color: rgb(63, 74, 226);
}

#chartContainer {
    width: 50%;
    height: 350px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}


.bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    max-width: 400px;
    transition: background-color 0.3s;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}   

.innerBar {
    height: 30px;
    margin-right: 5px;
}

.label {
    flex-grow: 1;
}

.percentage {
    font-weight: bold;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;

}

