header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
  }
  
  .logo img {
    max-width: 10%;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 30px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #045bdd;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #1b08ca;
    color: #fff;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 158, 158);
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 30px;
    text-align: center;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #d80000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #1b1b1b;
  }
  