*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    
}
.nav-info{
    height: 2.4vh;
}
.container-nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 80px;
}
.input-buscador{
   width: 100%;
   height: 100%; 
}
.container-buscador{
   width: 30vw;
   height: 35px;
   position: relative;
}
.div-logo-buscador{
   height: 100%;
   width: 30px;
   position: absolute;
   top: 0;
   right: 0%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-buscador i{

    left: 0;
    z-index: 9;

}
.container-ubicacion{
    display: grid;
    width: 170px;
    grid-template: "location  ubicacion"1fr/
                    0.2fr     1fr ;

   height: 35px;
}
.location{
    height: 90%;
    grid-area: location;
    display: flex;       
}
.ubicacion{
    grid-area: ubicacion;
}
.ubicacion h6{
    font-size: 1rem;
}
i{
    cursor: pointer;
}
.container-compras{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-compras div{
   display: flex;
   align-items: center;
   justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(231, 24,24);
    color: aliceblue;
}

.container-puntos{
    display: grid;
    grid-template:"img-puntos info-puntos"1fr
                    1fr         1fr ;
}
.img-puntos{
    grid-area: img-puntos;
    position: relative;
    left: 30px;
}
.info-puntos{
    grid-area: info-puntos;
}
.container-cuenta{
    display: grid;
    place-items: center;
    grid-template: "icono-cuenta cuenta-title"1fr/
                    auto          1fr ;
}
.cuenta-title{
    grid-area: cuenta-title;
    font-size: 1.5em;
}
h7{
   color: rgb(0, 114, 206);
}
.casaHome{
   display: none;
}


@media screen and (max-width:1250px){
   .info-puntos{
      display: none;
      font-size: 2em;
   }
}
@media screen and (max-width:1250px){
   .container-puntos{
      display: none;
      font-size: 2em;
   }
}
@media screen and (max-width:1020px){
   .container-ubicacion{
      display: none;
      font-size: 2em;
   }
}
@media screen and (max-width:800px){
   .input-buscador{
      display: none;
      font-size: 2em;
   }
}
@media screen and (max-width:650px){
   .imgHome{
      display: none;
   }
   .casaHome{
      display: flex;
      width: 70px;
      height: 35px;
      margin-left: -50px;
   }
   .cuenta-title{
       display: none;
      font-size: 2em;
   

   }
}


.container2{
   width: 100%;
   height: 60px;
   background-color: rgb(255, 255, 255);
   display: flex;
   

}
.contenedor22{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 67px;
    border: 1px solid #ccc;
    justify-content: center;
   text-align: center;
}
.item{
    width: 90px;
   font-size: 0.8em;
    padding: 10px;
 
    box-sizing: border-box;
    padding: 10px;
    
    box-sizing: border-box;
}
.imagenHom{
   background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza el contenido */

}
.contP{
   width: 100%;
   background-color: rgb(255, 255, 255);
   display: flex;
   

}
.contenedor11{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5px;
    border: 1px solid #ccc;
    justify-content: center;
   text-align: center;
  
}
.boxx{
   width: 10%;
   font-size: 0.8em;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}





.form-ana {
   position: fixed;
   right: 20px;
   height: 65vh;
   top: 0;
   width: 406px;
   display: none;
   grid-template: "frm-header" 70px
                  "frm-body"  minmax(150px, 90vh)
                  "frm-btn"  10px
                  "frm-input" 54px
                  "frm-exit" 80px/
                   406px;   
   z-index: 9; 
}
.form-header {
   grid-area: frm-header;
   background-color: rgb(0,93,173);
   display: flex;
   flex-direction: row;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}
.img-ana-I {
   height: 55px;
   width: 55px;
   margin-top: 7px;
   margin-left: 8px;
}
.title-form {
   font-family: poppins;
   font-size: 1.2em;
   font-weight: 400;
   margin-left: 30px;
   color: white;
   height: 70px;
   display: flex;
   align-items: center;
}
.form-body {
   grid-area: frm-body;
   background-color: rgb(234,238,243);
   display: grid;
   grid-template: "empty-left      form-text       empty-right"
                  "icons-slider   icons-slider    empty-right" /
                   50px            1fr              40px;
}
.img-ana-II {
   height: 90px;
   width: 90px;
   margin-top: 7px;
   margin-right: 300px;
   border-radius:2px;
}
.form-text {
   grid-area: form-text;
   margin-top: 5px;
   font-size: 0.9em;
}
.text-opciones {
   background-color: white;
   width: 265px;
   border-radius: 5px;
   padding: 10px 10px 0 10px;
   letter-spacing: 0.08em;
   margin-top: 10px;
}
.finger-style {
   color: rgb(246, 191, 11);
}
.text-form-black {
   font-weight: 900;
   display: block;
   margin-top: 30px;
   letter-spacing: 0.08em;
}
.reloj-msj {
   font-size: .7em;
   position: relative;
   bottom: 0;
   left: 100px;
}
.icons-slider {
   grid-area: icons-slider;
   display: grid;
   grid-template: "box-icon-arrow-left box-main-slider box-icon-arrow-right" /
                   50px                310px            50px;
}
.box-main-slider {
   grid-area: box-main-slider;
   width: 310px;
   /* background-color: blue; */
   overflow: hidden;
   display: grid;
   grid-area: "icon-arrow-left slider";
}
.box-icon-arrow-left {
   grid-area: box-icon-arrow-left;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box-icon-arrow-right {
   grid-area: box-icon-arrow-right;
   display: flex;
   justify-content: center;
   align-items: center;
}
.icon-arrow-left {
   grid-area: icon-arrow-left;
   background-color: white;
   width: 30px;
   height: 30px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 20;
}
.icon-arrow-left:hover{
   cursor: pointer;
}
.icon-arrow-right {
   grid-area: icon-arrow-right;
   background-color: white;
   width: 30px;
   height: 30px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 20;
}
.icon-arrow-right:hover{
   cursor: pointer;
}
.fa-chevron-left {
   font-size: 1.2em;
   color: rgb(0,93,173);
   font-weight: 700;
}
.fa-chevron-right {
   font-size: 1.2em;
   color: rgb(0,93,173);
   font-weight: 700;
}
.slider {
/*     background-color: red;  */
   grid-area: slider;
   font-size: .9em;
   height: 123px;
   width: 300px; 
   display: flex;
   flex-direction: row;
   margin-left: 50px;
   flex-flow: column wrap;
   /* flex-wrap: wrap; */
   position: relative;
}
.slider-view-1{
   transition: all 700ms;
   right: 50px;
}
.slider-view-2{
   transition: all 700ms;
   right: 380px;
}
.slider-view-3{
   transition: all 700ms;
   right: 710px;
}
.slider-view-4{
   transition: all 700ms;
   right: 1040px;
}
.box-slider {
   background-color: white;
   width: 310px;
   height: 120px;
   margin-right: 10px;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   margin-right: 20px;
}
.slider1 {
   position: relative;
  /*  right: 300px; */
}
.slider2 {
   position: relative;
   
}
.slider3 {
   position: relative;
}
.slider4 {
   position: relative;
}
.slider-title {
   font-weight: 900;
   font-size: 1em;
   text-align: center;
   margin: 10px;
   color: rgb(0,93,173);
   letter-spacing: 0.05em;
   word-spacing: 0.2em;
}
.slider-text {
   font-size: .9em;
   color: rgb(96,96,96);
   text-align: center;
   border-bottom: 1px solid rgb(220,220,220,.6);
   display: block;
   padding-bottom: 15px;
}
.click-slider {
   text-align: center;
   color:  rgb(0,93,173);
   font-weight: 400;
   margin-top: 10px;
}
.form-btn{
   background-color: yellow;
   grid-area: frm-btn;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}

.box-btn{
   width: 4px;
   height: 4px;
   border-radius: 2px;
   background-color: rgb(64, 64, 64);
   margin-left: 5px;
   margin-right: 5px;
}
.btn-select{
   width: 6px;
   height: 6px;
   border-radius: 5px;
   background-color: rgb(64, 64, 64);
   margin-left: 5px;
   margin-right: 5px;
}
.form-input {
   grid-area: frm-input;
   background-color: rgb(234,238,243);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top: 2px solid rgb(0,114,206);
   display:flex;
   justify-content: space-between;
   align-items: center;

}
.input-text {
   
   margin-left: 20px;
   border: none;
   background-color: transparent;
   color: rgb(64,64,64);
   font-family: poppins, sans-serif;
   outline: none;
}
.icon-smile {
   margin-right: 30px;
   font-size: 1.3em;
}
.exit-style {
   background-color: rgb(0,114,206);
   color: white;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   font-size: 1.7em;
   font-family: lato;
   font-weight: 300;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.form-exit {
   position: fixed;
   bottom: 10px;
   right: 20px;
   grid-area: frm-exit;
   display: flex;
   justify-content: flex-end;
   z-index: 10;
}
.icon-style{
   width: 30px;
   height: 50px;
   display: flex;
   border-radius: 50%;
   font-size: 1.7em;
   font-family: lato;
   font-weight: 300;
   margin-top: 15px;
}
.form-iconAna{
   cursor: pointer;
   position: fixed;
   bottom: 10px;
   right: 100px;
   grid-area: frm-exit;
   display: flex;
   justify-content: flex-end;
   z-index: 10;
}