* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav {
    font-size: 0.89em;
    justify-content: center;
    color: rgb(151, 214, 33);
    display: block;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0;
    display: table;
    position: absolute;
    width: 100%;
    background-color: rgb(54, 102, 104);
}

nav .ul2{
    background-color: rgb(221, 96, 12);
    width: 360px;
    text-align: left;
    padding: 0;
    line-height: 40px;
}

nav a {
    text-decoration: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
    display: block;
    padding: 0 1em;
}

nav>ul>li{
    float: left;
    width: 200px;
    line-height: 60px;
}

nav li {
    position: relative;
}

nav li li {
    max-height: 0;
    overflow: hidden;
}

nav li:hover > ul >li {
    visibility: visible;
    max-height: 200px;
    overflow: visible;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

.menu:hover {
    background-color: rgb(16, 17, 17);
    cursor: pointer;
    color: rgb(3, 3, 3);
}
