body {
    font-family: Arial, sans-serif;
    background-color: rgb(208, 16, 16);
    margin: 25px;
    
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: rgb(225, 76, 7);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
}

button:hover {
    background-color: rgb(79, 226, 63);
}

#chartContainer {
    width: 50%;
    height: 350px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 2000 auto;
    text-align: center;
}


.bar {
    display: flex;
    align-items: center;
    margin-bottom: 1000px;
    border: 1px solid #ddd;
    max-width: 400px;
    transition: background-color 0.3s;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}   

    .innerBar {
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
    }
    


.label {
    flex-grow: 1;
}

.percentage {
    font-weight: bold;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;

}

