.tabla-style{
    display: flex;
    justify-content: center;
    align-items: center;
}
th,td{
    border: 1px solid red;
    padding: 10px 12px;
}

table{
    border-collapse: collapse;
}

thead {
background-color: rgb(60  , 90, 32);
}
img {
    width: 115px;
}


*{
    margin:0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 p{
    text-align: center;
 }
.table1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


table {
    border-collapse: collapse;
    align-items: center;

}

td,th {
    border: 1px solid rgb(213,213,213);;
    padding: 10px 12px;
    text-align: center;
}

thead {
    background-color: rgb(25, 17, 133);
    color: white;
    text-align: center;
}

.thead1 {
    text-align: center;
}

h1{
    text-align: center;
    background-color: rgb(9, 4, 41);
    color: white;
    padding: 10px;
}

ul{
    list-style: none;
    font-size: 1.3em
}

a {
    text-decoration: white;
    color: rgb(9, 4, 41);
}

.img {
    width: 200px;
}

.img2 {
    width: 15px;
}

.color1{
    background-color: rgb(0,139,139);
    color: white;
}

.p1 {
    font-size: 0.8em;
}

.colorpb {
    background-color: rgb(12,155,76);
    color: white;
}

.colors {
    background-color: rgb(66,167,255);
    color: white;
}

.colorg {
    background-color: rgb(255,123,0);
    color: white;
}

.colort {
    background-color: rgb(85,0,98);
    color: white;
}

.colorb {
    background-color: rgb(240,240,240);
}
